a,
.btn {
  @apply transition-colors duration-150;
  @apply focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2 focus:ring-offset-transparent;
}

a {
  @apply hover:text-primary;
}

.btn {
  @apply border-2 border-primary hover:bg-transparent hover:text-primary;
}

.gradient-text {
  @apply bg-clip-text text-transparent;
  @apply bg-gradient-to-br from-indigo-500 via-fuchsia-500 to-pink-500;
}

.btn {
  background-color: var(--color-primary);
  padding: 16px 32px;
  border-radius: 12px;
  font-weight: 500;
}