---
import { Icon } from "astro-icon";
import ContentSection from "../layout/content-section.astro";
import type { BeneficiosItem } from "~/types";

const beneficios: Array<BeneficiosItem> = [
  {
    description:
      "Você conhecerá colegas e mentores (e provavelmente amigos!), que te ajudarão na jornada nos dias difíceis.",
    icon: "iconBeneficio1",
  },
  {
    description:
      "Um perfil ativo e com diversas contribuições no GitHub mostra sua dedicação e conhecimentos e chama atenção empregadores.",
    icon: "iconBeneficio2",
  },
  {
    description:
      "O medo muitas vezes nos impede de inovar. Criando durante 100 dias você irá se acostumar com encarar novos desafios e iniciar projetos.",
    icon: "iconBeneficio3",
  },
  {
    description:
      "Estudar diariamente um novo tópico te mantém no fluxo do aprendizado contínuo.",
    icon: "iconBeneficio4",
  },
  {
    description:
      "Aprenda as dificuldades e assuntos recorrentes no dia a dia dos desenvolvedores.",
    icon: "iconBeneficio5",
  },
  {
    description:
      "No #100DiasDeCodigo incentivamos a criação de projetos reais, que agregam ao seu currículo e poderão atrair recrutadores.",
    icon: "iconBeneficio6",
  },
  {
    description: "Programar se torna um hábito.",
    icon: "iconBeneficio7",
  },
  {
    description:
      "Projetos pequenos e rápidos se acumulam trazendo uma gama de novas experiências e ferramentas.",
    icon: "iconBeneficio8",
  },
  {
    description:
      "Às vezes tudo que precisamos para parar de procrastinar é uma meta para seguir e pessoas para acompanhar, isso você encontrará na sua jornada.",
    icon: "iconBeneficio9",
  },
];
---

<ContentSection title="Benefícios" id="beneficios">
  <div class="swiper-container mySwiper">
    <ul
      class="swiper-wrapper grid"
    >
      {
        beneficios.map(({ description, icon }) => (
          <li class="swiper-slide flex flex-col items-center rounded-xl bg-offset p-6">
            <Icon class="h-40" name={icon} />
            <p class="text-center text-default text-sm pt-10">{description}</p>
          </li>
        ))
      }
    </ul>
  </div>
</ContentSection>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"
></script>
<script is:inline>
  new Swiper(".mySwiper", {
    watchSlidesProgress: true,
    slidesPerView: "auto",
    spaceBetween: 10,
    // when window width is >= 320px
    breakpoints: {
      320: {
        slidesPerView: 1,
        spaceBetween: 50,
      },
      // when window width is >= 768px
      768: {
        slidesPerView: 3,
        spaceBetween: 150,
      },
      autoplay: {
        delay: 5000,
      },
    },
    loop: true,
  });
</script>

<style scoped>
  li {
    height: 350px !important;
  }

  /* basic styles for swiper container */
  .swiper-container {
    width: 100%;
    height: auto;
    overflow-x: hidden;
  }
</style>
