---
import ContentSection from "../layout/content-section.astro";
---

<ContentSection title="Links Úteis" id="beneficios" align="start" extraclass="sm:pl-8 sm:mx-40">
  <div class="border-l-4 border-violet-800 pl-4">
    <h2 class="text-xl color-secondary mb-2">roadmap.danielheart.dev</h2>
    <p class="text-[#676779]">A ideia desse projeto é organizar todo o conteúdo que eu já produzi sobre programação até o momento e criar uma trilha para ajudar novos desenvolvedores.</p>
  </div>
  <div class="border-l-4 border-violet-800 pl-4">
    <h2 class="text-xl color-secondary mb-2">trilha.info</h2>
    <p class="text-[#676779]">A Trilha Info é um projeto Open Source com o objetivo de agregar e organizar conteúdos gratuitos em português para pessoas que querem ingressar na área de Tecnologia.</p>
  </div>
  <div class="border-l-4 border-violet-800 pl-4">
    <h2 class="text-xl color-secondary mb-2">roadmap.sh</h2>
    <p class="text-[#676779]">A roadmap.sh é um esforço de comunidade para criar guias e agregar conteúdos educacionais para ajudar a orientar os desenvolvedores a orientar seus aprendizados.</p>
  </div>
</ContentSection>
