---
export interface Props {
  id: string;
  title: string;
  align?: string;
  extraclass?: string;
}

const { extraclass, title, id } = Astro.props;
const align = Astro.props.align || 'center';
---

<section
  id={id}
  class={`flex scroll-mt-24 flex-col items-${align} gap-4 space-y-8 ${extraclass}`}
>
  <div class="flex flex-col items-start gap-4">
    <h2
      class="color-secondary text-center font-bold tracking-tight text-6xl"
    >
      {title}
    </h2>
  </div>
  <p class="max-w-xl text-center font-extrabold text-2xl">
    <slot name="lead" />
  </p>
  <slot />
</section>
